<!-- student list navbar -->
<div class="navbar navbar-inverse" style="padding: 0 10px 0 10px;">
    <!-- buttons -->
    <div class="navbar-left navbar-btn">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addStudent">
            <span class="glyphicon glyphicon-plus"></span> Add Student
        </button>
        <button type="button" class="btn btn-default" ng-click="appCtrl.refreshList()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh List
        </button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#queryDatabase">
            <span class="glyphicon glyphicon-transfer"></span> Query Database
        </button>
    </div>
    <!-- filter form -->
    <form class="navbar-form form-inline navbar-right">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" id="filter-text" placeholder="Filter text"
                       ng-model="appCtrl.filterText">
            </div>
            <button type="button" class="btn btn-default" ng-show="appCtrl.filterText"
                    ng-click="appCtrl.filterText=''">
                <span class="glyphicon glyphicon-remove-circle"></span> Clear
            </button>
        </div>
    </form>
    <!-- sort by -->
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href='#' data-toggle='dropdown'>
                <span class="glyphicon glyphicon-sort"></span>
                Sort By <span class='caret'></span>
            </a>
            <ul class="dropdown-menu">
                <li class="navbar-btn" ng-repeat="table in appCtrl.tableDesc">
                    <a href="#" ng-click="appCtrl.sortStudent(table[0])">
                        <span class="glyphicon" ng-show="appCtrl.$lastSort!=table[0]">&nbsp;</span>
                        <span class="glyphicon glyphicon-arrow-down"
                              ng-show="appCtrl.$lastSort==table[0] && appCtrl.$sortOrder==0"></span>
                        <span class="glyphicon glyphicon-arrow-up"
                              ng-show="appCtrl.$lastSort==table[0] && appCtrl.$sortOrder==1"></span>
                        {{table[1]}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>