<!-- query database modal -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addStudentModalLabel">Remove Student</h4>
        </div>
        <div class="modal-body">
            <div class="text-center text-info well" ng-show="appCtrl.error">
                {{appCtrl.error}} <br/>
                <b>Something went wrong. Please try again.</b>
            </div>

            <!-- query form -->
            <form ng-submit="appCtrl.queryDatabase()">
                <div class="form-group">
                    <b>SQL query:</b>
                    <textarea class="form-control" ng-model="appCtrl.queryData"
                              placeholder="Type your SQL query here..."></textarea>
                </div>
                <div class="form-group">
                    <b>Overview of the table:</b>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Description</th>
                            <th>Structure</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-info">student</td>
                            <td colspan="2">Table Name</td>
                        </tr>
                        <tr ng-repeat="data in appCtrl.tableDesc">
                            <td class="text-info">{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td class="text-muted">{{data[2]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Run Query"/>
                </div>
            </form>
        </div>
    </div>
</div>
