<!-- Student data table -->
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center" ng-repeat="table in appCtrl.tableDesc">{{table[1]}}</th>
        <th class="text-center">Options</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr ng-repeat="student in appCtrl.studentList" ng-show="appCtrl.canShow(student)">
        <td>{{student.student_id}}</td>
        <td>{{student.student_name}}</td>
        <td>{{student.regno}}</td>
        <td>{{student.cgpa}} ({{appCtrl.getGrade(student.cgpa)}})</td>
        <td>
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" ng-click="appCtrl.beginEdit(student)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button type="button" class="btn btn-warning" ng-click="appCtrl.beginDelete(student)">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>