body {
    background: #2F2F2F;
}

table.student-table {
    font-family: Verdana, Geneva, sans-serif;
}

table.student-table td {
    color: ghostwhite;
}

table.student-table th {
    color: goldenrod;
}
